<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuencode.flowlongplus.workflow.mapper.WflowInstanceActionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yuencode.flowlongplus.workflow.entity.WflowInstanceActionRecord">
        <id column="id" property="id" />
        <result column="instance_id" property="instanceId" />
        <result column="comment" property="comment" />
        <result column="attachments" property="attachments" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_time" property="createTime" />
        <result column="robot" property="robot" />
        <result column="auditor_id" property="auditorId" />
        <result column="action_type" property="actionType" />
        <result column="user_ids" property="userIds" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="assignee_id" property="assigneeId" />
        <result column="node_id" property="nodeId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, instance_id, `comment`, attachments, create_time, robot, auditor_id, action_type, user_ids, assignee_id, node_id, tenant_id
    </sql>

</mapper>
